@use './assets/styles/breakpoints' as breakpoints;

/* ========== VARIABLES ========== */
:root {
  --primary: hsl(0, 0%, 17%);
  --accent: hsl(0, 0%, 59%);

  --font-family: 'Rubik', sans-serif;
  --normal-font-size: 1.125rem;

  --border-radius: 12px;
  --box-shadow: 8px 8px 24px rgba(149, 157, 165, 0.2);
}

/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========== THEME ========== */
input {
  border: none;
  border-radius: var(--border-radius);
  padding: 15px 20px;
  font-family: var(--font-family);
  font-size: 14px;

  &::placeholder {
    letter-spacing: 0.5px;
    color: var(--accent);
  }
}

/* ========== UTILS ========== */
.separator {
  height: 50px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);

  @include breakpoints.lg {
    display: none;
  }
}
